@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {

background: rgb(15,19,64);
background: linear-gradient(0deg, rgba(15,19,64,1) 0%, rgba(29,31,63,1) 29%, rgba(47,13,62,1) 78%) ;
}

navbar {
  display:flex;
  height: 70px;
  width: 100vw;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

li {
  color: white;
  cursor: pointer;
}


section {
  cursor: pointer
}



img {

}


li:hover {
  color: White;
}

#Backimg-1 {
  background-image: url(./assets/imgs/EthanNova.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);

}


#Backimg-2 {
  background-image: url(./assets/imgs/Aveline.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);

}




#Backimg-3 {
  background-image: url(./assets/imgs/LucasBackwood.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);

}

#Backimg-4 {
  background-image: url(./assets/imgs/SophiaTompson.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);

}


#Backimg-5 {
  background-image: url(./assets/imgs/AlexandreKnight.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);

}


#Backimg-6 {
  background-image: url(./assets/imgs/NoahSummers.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);

}


#Backimg-7 {
  background-image: url(./assets/imgs/GabrielNova.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);

}


#Backimg-8 {
  background-image: url(./assets/imgs/AdrianCollins.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);

}

#Backimg-9 {
  background-image: url(./assets/imgs/LucasBlackthorn.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);

}

#Backimg-10 {
  background-image: url(./assets/imgs/DevanStone.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);

}

#Backimg-11 {
  background-image: url(./assets/imgs/MythenNova.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 15px 5px 0px rgba(0,0,0,0.75);

}



#container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#bolhas {
  position:relative;
  display: flex;
}

#bolhas span {
  width: 30px;
  height: 30px;
  background: #e5ff00;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #e5ff0044,
  0 0 50px #e5ff00,
  0 0 100px #e5ff00;
  animation: animar calc(30s / var(--i)) linear infinite;
}

#bolhas span:nth-of-type(even) {
  background: #2dc3ff;
  box-shadow: 0 0 0 10px #2dc3ff44,
  0 0 50px #2dc3ff,
  0 0 100px #2dc3ff0;
}

@keyframes animar {
  0% {
      transform: traslateY(100vh) scale(0);
  }

  100% {
transform: traslateY(-10vh) scale(1);
  }
}


    li {
      transition: max-height 0.3s ease-out;
    }
